body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/images/weather-background.jpg');
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 15px;
  height: 50px;
  width: 300px;
 margin-bottom: 20px;
}
.main-container{
 position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
.info-box{
    border-radius: 10px;
    width: 300px;
    background-color: #fff;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 12px;
}
.first-line-info{
  display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.city-max-min-temp{
     margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -32px;

}